doctype html
html
    head
        title!= "4xxi @TODO"
        link(rel="stylesheet" href="/static/css/styles.css")
    body
        
    script(src="/static/js/libs.js")
    script(src="/static/js/scripts.js")
